<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<!-- Robots: selalu index dan follow -->
<meta name="robots" content="index, follow">

<!-- Publisher: hardcoded Akazed.com -->
<meta name="publisher" content="Akazed.com">

<!-- Author: hardcoded Akazed -->
<meta name="author" content="Akazed">
{{- $keywords := .Params.keywords | default (slice .Title) -}}
<meta name="keywords" content="{{ delimit $keywords ", " }}">

<meta name="msvalidate.01" content="F811999D33E8DBD02081B6FEC68E250B" />

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>
{{ with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}


{{ if eq .Kind "page" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title | htmlEscape }}",
  "image": [
    "{{ with .Params.featured_image }}{{ . | absURL }}{{ else }}https://akazed.com/about/images/default_hudc08dd0da780a7732532b269d66578bd_24598_1024x0_resize_q75_h2_box_2.webp{{ end }}"
  ],
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author | default "Nanda" }}",
    "url": "https://akazed.com/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "https://akazed.com/img/akazed_hu5275fa5222c3dc8beed2db97f95ceac6_28190_300x0_resize_q75_h2_box_2.webp"
    }
  },
  "description": "{{ .Params.description | htmlEscape }}"
}
</script>
{{ end }}

