
<!-- link for icons  -->
{{ partial "whatsapp.html" . }}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer-head">
        <div class="footer-abt">
          <h4>Akazed Ujian</h4>
          <p>Akazed.com adalah platform latihan ujian online terdepan di Indonesia yang dirancang untuk membantu siswa, mahasiswa, dan profesional mempersiapkan diri menghadapi berbagai jenis ujian seleksi. Kami menyediakan ribuan latihan soal, tryout online, dan simulasi CAT yang akurat untuk membantu Anda meraih sukses.

          </p>
        </div>
       
      </div>
      <div class="col-lg-3 footer-menu">
        <h4>Quick Links</h4>
        <ul>
          <li><svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 512"
    class="ikon-chevron"
    aria-hidden="true"
    focusable="false"
    width="1em"
    height="1em"
    fill="currentColor"
  >
    <path
      d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
    />
  </svg><a href="/ujian/">Home</a></li>
          <li><svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 512"
    class="ikon-chevron"
    aria-hidden="true"
    focusable="false"
    width="1em"
    height="1em"
    fill="currentColor"
  >
    <path
      d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
    />
  </svg><a href="/ujian/#tryout-ppg">Tryout PPG</a></li>
          <li><svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 512"
    class="ikon-chevron"
    aria-hidden="true"
    focusable="false"
    width="1em"
    height="1em"
    fill="currentColor"
  >
    <path
      d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
    />
  </svg><a href="/ujian/#tryout-cpns">Tryout CPNS</a></li>
          <li><svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 512"
    class="ikon-chevron"
    aria-hidden="true"
    focusable="false"
    width="1em"
    height="1em"
    fill="currentColor"
  >
    <path
      d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
    />
  </svg><a href="#">Tryout LPDP</a></li>
          <li><svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 512"
    class="ikon-chevron"
    aria-hidden="true"
    focusable="false"
    width="1em"
    height="1em"
    fill="currentColor"
  >
    <path
      d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
    />
  </svg><a href="#">Tryout BUMN</a></li>
        </ul>
      </div>
      <div class="col-lg-3 footer-menu">
        <h4>Links</h4>
        <ul>
          <li><svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 512"
    class="ikon-chevron"
    aria-hidden="true"
    focusable="false"
    width="1em"
    height="1em"
    fill="currentColor"
  >
    <path
      d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
    />
  </svg><a href="#">Donasi</a></li>
          <li><svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 512"
    class="ikon-chevron"
    aria-hidden="true"
    focusable="false"
    width="1em"
    height="1em"
    fill="currentColor"
  >
    <path
      d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
    />
  </svg><a href="#">Request Tryout</a></li>
        </ul>
      </div>
     <!-- <div class="col-lg-3 footer-subs">
        <h4>Subscribe Our Newsletter</h4>
        <p> Smarter. Design Better. Subscribe For Curated Dev Content and Industry News</p>
      
      </div>-->
    </div>
      </div>
</footer>

<style>
    footer {
  margin-top: 50px;
  background-color: whitesmoke;
}

footer .row {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.col-lg-3 {
  width: 25%;
  padding: 20px;
}

footer h4 {
  color: #112174;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

.footer-menu li {
  list-style: none;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  padding: 5px;
  display: flex;
  align-items: center;
}

.footer-menu a {
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-menu a:hover {
  color: #e86962;
}

.fa-chevron-right {
  margin-right: 10px;
}

.footer-subs {
  background-color: var(--primary-orange);
  color: #000000;
}

.footer-subs h4 {
  color: #000000;
}

.footer-subs #sub-input {
  line-height: 35px;
  padding: 5px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #414141;
  margin: 10px;
}

.footer-subs #sub-input:after {
  border: none;
}

.footer-subs #sub-btn {
  line-height: 35px;
  border: none;
  padding: 4px 30px;
  background-color: #000;
  color: #fff;
  margin: 10px;
}
.footer-subs #sub-btn:hover {
  cursor: pointer;
  background-color: #000000d1;
}

/* for responsive  */
@media (max-width: 1024px) {
  .footer-menu a {
    font-size: 1rem;
  }

  .footer h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  footer .row {
    display: flex;
    justify-content: space-around;
    gap: 37px;
    flex-wrap: wrap;
  }

  .col-lg-3 {
    width: 35%;
  }
}

@media (max-width: 491px) {
  footer .row {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    flex-wrap: wrap;
  }

  .col-lg-3 {
    width: 85%;
  }
}

</style>